{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-header border-0">
                <h3 class="mb-0">{{ title }}</h3>
            </div>
            <div class="card-body">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="row">
                        <div class="col-md-8 mb-3">
                            {{ form.name.label(class="form-label") }}
                            {{ form.name(class="form-control") }}
                        </div>
                        <div class="col-md-4 mb-3">
                            {{ form.sku.label(class="form-label") }}
                            {{ form.sku(class="form-control") }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form.category_id.label(class="form-label") }}
                            {{ form.category_id(class="form-select") }}
                        </div>
                        <div class="col-md-3 mb-3">
                            {{ form.quantity.label(class="form-label") }}
                            {{ form.quantity(class="form-control", readonly=('edit' in request.endpoint)) }}
                        </div>
                        <div class="col-md-3 mb-3">
                            {{ form.unit.label(class="form-label") }}
                            {{ form.unit(class="form-control") }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form.minimum_threshold.label(class="form-label") }}
                            {{ form.minimum_threshold(class="form-control") }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form.maximum_capacity.label(class="form-label") }}
                            {{ form.maximum_capacity(class="form-control") }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form.purchase_price.label(class="form-label") }}
                            {{ form.purchase_price(class="form-control") }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form.selling_price.label(class="form-label") }}
                            {{ form.selling_price(class="form-control") }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form.supplier.label(class="form-label") }}
                        {{ form.supplier(class="form-control") }}
                    </div>

                    <div class="mt-4">
                        {{ form.submit(class="btn btn-primary") }}
                        <a href="{{ url_for('products.list_products') }}" class="btn btn-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
